<%- include("partials/header") -%>

    <h1>Compose</h1>
    <form action="/compose" method="post">
        <div class="form-group">
            <label class="form-group" for="">Title</label>
            <input class="form-control" type="text" name="newTitle">
        </div>
        <div class="form-group">
            <label class="form-group" for="">Post</label>
            <input class="form-control" type="text" name="newArticle">  
        </div>
        <div class="form-group">
            <button class="btn btn-primary" type="submit">Submit</button>
        </div>
    </form>
    
    

<%- include("partials/footer") -%>